
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.preparativos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgb(243, 243, 243);
    margin: 20px 0px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    padding: 30px;
}

.preparativos .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preparativos ul{
    list-style: none;
    font-weight: 700;
}

.preparativos ul p{
    margin: 0 0 10px 50px;
    font-weight: 500;
}

.preparativos label{
    cursor: pointer;
}

.bird-picker{
    /* background-color: violet; */
    width: 70%;
    display: flex;
    flex-flow: wrap row;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
}

.bird-picker a{
    background-color: var(--bird-picker-bg-color-dark);
    padding: 20px;
    color: var(--bird-picker-color-dark);
    transition: all 1s;
    text-decoration: none;
    border-left: 1px solid var(--bg-color);
}

.bird-picker a:first-child{
    border-left: none;
}

.bird-picker a:hover{
    background-color: var(--bird-picker-bg-color-light);
    color: var(--bird-picker-color-light);
}

.bird-container{
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    padding: 10px 0;
}

h3{
    margin: 10px 0;
}

.left{
    margin: 10px;
    padding: 10px 15px 10px 0px;
    text-align: justify;
    border-radius: 8px;
    /* box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.308); */
    width: 50%;
}

img{
    width: 40%;
    border-radius: 50%;
    margin: auto 5px;
}

.quero-adotar-form{
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 20px 0px;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quero-adotar-form p{
    margin-bottom: 10px;
    font-weight: 700;
}

.quero-adotar-form form{
    display: flex;
    flex-direction: column;
}

.quero-adotar-form form label{
    font-weight: 700;
}

.quero-adotar-form form input{
    border-radius: 20px;
    border: 2px solid var(--cor-secundaria-light);
    background-color: var(--bg-color);
    padding: 3px 10px;
    margin-bottom: 15px;
    width: 250px;
    transition: all 0.8s ease;
}


.quero-adotar-form form input:hover{
    border: 2px solid var(--cor-secundaria-lighter);
}

.quero-adotar-form form input:focus{
    border: 2px solid var(--cor-secundaria-lighter);
    background-color: #e2ebcd;
    outline: none;
}

.quero-adotar-form form .btn{
    border: 2px solid var(--cor-secundaria-lighter);
    background-color: var(--cor-secundaria-lighter);
    color: #e2ebcd;
}

.quero-adotar-form form .btn:hover{
    background-color: var(--bird-picker-color-light);
    color: var(--cor-principal);
}

.quero-adotar-form form .btn:active{
    background-color:#22181f;
    color:#909e81;
    border-color: #383C3C;
}

.quero-adotar-form form .btn:focus{
    background-color:#22181f;
    color:#909e81;
    border-color: #383C3C;
}

footer{
    background-color: var(--cor-secundaria);
    box-shadow: 0px 2px 15px rgb(0 0 0);
}