main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.missao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color:  rgb(243, 243, 243);
    border-radius: 5px 20px 5px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    padding: 10px;
}

.missao div{
    width: 50%;
    margin: 25px;
}
.missao div img{
    width: 100%;
    border-radius: 50%;
}

.missao .direita h3{
    color: var(--cor-principal);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
}

.quero-adotar{
    background-color: var(--cor-secundaria);
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 1px 1px 5px var(--cor-secundaria);
}

.quero-adotar div {
    width: 50%;
    margin: 0 25px;
}

.quero-adotar div h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.quero-adotar div img{
    width: 100%;
    border-radius: 50%;
}

.bichinho-abandonado{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bichinho-abandonado h3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.list-container {
    display: flex;
    margin: 25px;
}

.list-container div{
    margin: 25px;
}

.list-container li{
    margin-bottom: 10px;
}

.form-container{
    width: 100%;
}

.quero-adotar-form{
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 20px 0px;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quero-adotar-form p{
    margin-bottom: 10px;
    font-weight: 700;
}

.quero-adotar-form form{
    display: flex;
    flex-direction: column;
}

.quero-adotar-form form label{
    font-weight: 700;
}

.quero-adotar-form form input{
    border-radius: 20px;
    border: 2px solid var(--cor-secundaria-light);
    background-color: var(--bg-color);
    padding: 3px 10px;
    margin-bottom: 15px;
    width: 250px;
    transition: all 0.8s ease;
}


.quero-adotar-form form input:hover{
    border: 2px solid var(--cor-secundaria-lighter);
}

.quero-adotar-form form input:focus{
    border: 2px solid var(--cor-secundaria-lighter);
    background-color: #e2ebcd;
    outline: none;
}

.quero-adotar-form form .btn{
    border: 2px solid var(--cor-secundaria-lighter);
    background-color: var(--cor-secundaria-lighter);
    color: #e2ebcd;
}

.quero-adotar-form form .btn:hover{
    background-color: var(--bird-picker-color-light);
    color: var(--cor-principal);
}

.quero-adotar-form form .btn:active{
    background-color:#22181f;
    color:#909e81;
    border-color: #383C3C;
}

.quero-adotar-form form .btn:focus{
    background-color:#22181f;
    color:#909e81;
    border-color: #383C3C;
}

footer{
    background-color: var(--cor-secundaria);
    box-shadow: 0px 2px 15px rgb(0 0 0);
}

@media (max-width:426px){
    
    main{
        margin: 0;
    }

    .missao {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .missao div{
        width: 100%;
        margin: 0;
    }

    .missao div img{
        width: 100%;
        border-radius: 0;
    }

    .missao .direita{
        padding: 10px 10px 25px 10px;
        text-align: center;
    }

    .quero-adotar{
        flex-direction: column;
        padding: 10px;
        
    }

    .quero-adotar div{
        width: 100%;
        text-align: center;
        padding: 10px 0 15px;
        margin: 0;
    }

    .bichinho-abandonado {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .bichinho-abandonado .list-container{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .bichinho-abandonado .list-container div{
        margin-top: 0;
        margin-bottom: 0;
    }
}