/* https://coolors.co/a4b494-6f845a-3a5320-bec5ad-3b5249-46755e-519872-383c3c-34252f */

:root {
    --cor-principal: #A4B494;
    --cor-principal-dark: #6F845A;
    --cor-principal-darker: #3A5320;
    --cor-secundaria:#3B5249;
    --cor-secundaria-light:#46755E;
    --cor-secundaria-lighter: #519872;
    --bg-color: #BEC5AD;
    --bird-picker-color-dark: #A4B494;
    --bird-picker-color-light: #34252F;
    --bird-picker-bg-color-light: #519872;
    --bird-picker-bg-color-dark: #3B5249;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: var(--bg-color);
}